html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar Background */
.topNav {
    overflow: hidden;
    background-color: rgb(219, 149, 149);
    stroke: black;
    stroke-width: 4;
    height: 700px;
    width: 1440px;
}

/* Dropdown LINKS */
.topNav a {
    float: left;
    font-size: 18px;
    color: aqua;
    text-align: center;
    /* padding: 14px 16px */

}

/* Dropdown CONTAINER */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown BUTTON */
.dropdown .dropbtn {
    font-size: 18px;
    border: black;
    /* outline: none; affects OUTSIDE of border*/

}