@font-face {
    font-family: Kavoon;
    src: url("/assets/Kavoon-Regular.ttf");
}

:root {
    --primary: #7BBF4B;
    --light: white;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kavoon;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation Container */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z index 99 means layer (uppermost???shouldnt it be lowest layer) */
    z-index: 99;
    background-color: var(--light);
    /* first number is up down, second number left right */
    padding: 16px 32px;
    /* border-bottom: 3px solid var(--primary); */
    border: 3px solid;


}


/* Header 1 - LOGO */
.container h1 {
    color: black;
    font-size: 20px;
    /* 900 is black */
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/* Hero Text 'tickets' */
.hero-Text h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 28px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
}

/* Hamburger */
.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    /* hamburger, can't highlight by user*/
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* Hamburger lines */
.hamburger span {
    /* block mean element will take up full width of the whole line instead of sharing */
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--dark);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

/* Hamburger animation + color */
/* Moves the second span to the right by 10px */
.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
    /* border-style: solid; */
    /* border-color: black; */
    border: 3px solid;
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

/* selected colour */
.menu a {
    color: var(--dark);
    letter-spacing: 2px;
    margin: 0 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;


}

.menu a.is-active,
.menu a:hover {
    background-color: var(--primary);
    border: 3px solid;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
    }
}

body,
html {
    height: 100%;
    top: 197.199;
    left: 0;
}

.hero-Image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/AdventureTime.jpg");

    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    border: 3px solid;
    position: relative;
}

.hero-Text {
    text-align: center;
    position: absolute;
    /* 50% from the top of screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);

}